body{
    margin:0;
    padding:0;
    color:white;
    background: black;
    overflow-x: hidden;
}
/*.main-body{
    display: grid;
    grid-template-rows: repeat(4, minmax(240px, 1fr));
}*/

.section-body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding:100px 20vw;
}
#first{
    background:blue;
}
#second{
    background:red;
}
#third{
    background:green;
}
#fourth{
    background:yellow;
}
.curve{
    position: absolute;
    height:425px;
    width:100%;
    bottom:0;
}
.curve::after{
    content:'';
    display:block;
    position:absolute;
    border-radius: 100% 50%;
    width:70%;
    height:100%;
    background-color: blue;
    transform: translate(-8%,30%);
    z-index: 1;
}
.curve::before{
    content:'';
    display:block;
    position:absolute;
    border-radius:100% 50%;
    width: 70%;
    height: 100%;
    background-color: red;
    transform: translate(70%, 70%);
   
} 
.header{
    /*min-height: 100vh;*/
    width: 100%;
    /*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url();*/
    background-position: center;
    position: relative;
}
nav{
    position: relative;
    height:5%;
    display: flex;
    padding:2% 10vw;
    justify-content: space-between;
    align-items: center;
    border-style: double;
    background-color:white;
}
nav img{
    position: relative;
    width: 50%; 
    object-fit: cover;
    border: solid;
    
}
.nav-links{
    display: flex;
    justify-content: center;
    flex: auto;
    border:2px;
    border-style: double;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav-links ul li a{
    color:#082882;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    /*border-style: dashed;*/
}
.mybody{
    background-color: #1c284c;
    display:flex;
    height: 100%;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background: #1c284c;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{

    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
    border:solid;
    width:40%;
    color:lightskyblue ;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.text-box span{
    color:white;
}