body {
    margin: 0;
    padding: 0;
    color: white;
    background: black;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}

/*.main-body{
    display: grid;
    grid-template-rows: repeat(4, minmax(240px, 1fr));
}*/
#fifth {
    background: black;
    height: 100px;
}

.section-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20vw;
}

#first {
    background: #ECC6A2;
    height: 100%;
}

#second {
    background: #ECA089;
    height: 80%;
}

#third {
    background: #2E4770;
    height: 10%;
}

#fourth {
    background: #001220;
    height: 20%;
}

#mySlider1 {
    height: 70%;
    position: absolute;
    transform: translate(-200%, -200%);
}

#mySlider2 {
    height: 70%;
    position: absolute;
    transform: translate(250%, -400%)
}

.curve1 {
    position: absolute;
    height: 425px;
    width: 100%;
    bottom: 0;
}

.curve1::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 70%;
    height: 100%;
    background-color: #ECC6A2;
    transform: translate(-8%, 30%);
    z-index: 1;
}

.curve1::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 70%;
    height: 100%;
    background-color: #ECA089;
    transform: translate(70%, 70%);

}

.curve2 {
    position: absolute;
    height: 425px;
    width: 100%;
    bottom: 0;
}

.curve2::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 70%;
    height: 100%;
    background-color: #ECA089;
    /* transform: translate(-8%,30%); */
    transform: translate(70%, 70%);
    z-index: 1;
}

.curve2::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 70%;
    height: 100%;
    background-color: #2E4770;
    /* transform: translate(70%, 70%); */
    transform: translate(-8%, 30%);

}

/* #third::after{ 
    content:'';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position:absolute;
    bottom:0;
    height:40%;
    width:100%;
    background-color: #001220;
    z-index: 1;
} */
.spacer {
    aspect-ratio: 500/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.layer1 {
    background-image: url('./layer1.svg');
}

.layer2 {

    background-image: url('./layer2.svg');
}

.header {
    /*min-height: 100vh;*/
    width: 100%;
    /*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url();*/
    background-position: center;
    position: relative;
}

nav {
    position: relative;
    height: 5%;
    display: flex;
    padding: 2% 10vw;
    justify-content: space-between;
    align-items: center;
    /* border-style: double; */
    background-color: white;
}

nav img {
    position: relative;
    width: 50%;
    object-fit: cover;
    /* border: solid; */

}

.nav-links {
    display: flex;
    justify-content: center;
    flex: auto;
    border: 2px;
    /* border-style: double; */
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a {
    color: #082882;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    /*border-style: dashed;*/
}

.mybody {
    background-color: #1c284c;
    display: flex;
    height: 100%;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #1c284c;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {

    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
    /* border:solid; */
    width: 40%;
    color: lightskyblue;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box span {
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@400;600;900&family=Ubuntu+Mono:wght@700&display=swap');
.container{
	max-width: 100%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    width:100%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




