* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    color: white;
    background: black;
    overflow-x: hidden;
}

/*.main-body{
    display: grid;
    grid-template-rows: repeat(4, minmax(240px, 1fr));
}*/
#fifth {
    background: black;
    height: 100px;
}

.section-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20vw;
    scroll-behavior: smooth;
}

#first {
    background: #5DA5F2;
    padding-bottom: 0;
    height:20%;
}

#second {
    background: #D16BA5;
    padding-bottom: 0;
    height:20%;
}

#third {
    background: #2E4770;
    padding-bottom: 0;
    height:20%;
}

#fourth {
    background: #001220;
    height: 20%;
    padding-bottom: 0;
}

#mySlider1 {
    height: 70%;
    position: absolute;
    z-index: 3;
}

#mySlider2 {
    height: 70%;
    position: absolute;
    transform: translate(250%, -400%)
}

.curve1 {
    position: absolute;
    height: 425px;
    width: 100%;
    bottom: 0;
}

.curve1::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 70%;
    height: 100%;
    background-color: #5DA5F2;
    transform: translate(-8%, 30%);
    z-index: 1;
}

.curve1::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 70%;
    height: 100%;
    /*background-color: #ECA089;*/
    background-color: #2E4770;
    transform: translate(70%, 70%);

}

.curve2 {
    position: absolute;
    height: 425px;
    width: 100%;
    bottom: 0;
}

.curve2::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 70%;
    height: 100%;
    background-color: #ECA089;
    /* transform: translate(-8%,30%); */
    transform: translate(70%, 70%);
    z-index: 1;
}

.curve2::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 70%;
    height: 100%;
    background-color: #2E4770;
    /* transform: translate(70%, 70%); */
    transform: translate(-8%, 30%);

}

/* #third::after{ 
    content:'';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position:absolute;
    bottom:0;
    height:40%;
    width:100%;
    background-color: #001220;
    z-index: 1;
} */
.spacer {
    aspect-ratio: 500/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.layer3{
    background-image: url('../layer/layer3.svg');
}
.layer1 {

    background-image: url('../layer/layer1.svg');
}

.layer2 {

    background-image: url('../layer/layer2.svg');
}

.header {
    /*min-height: 100vh;*/
    width: 100%;
    /*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url();*/
    background-position: center;
    position: relative;
}

nav {
    position: relative;
    height: 5%;
    display: flex;
    padding: 2% 10vw;
    justify-content: space-between;
    align-items: center;
    /* border-style: double; */
    background-color: white;
}

nav img {
    position: relative;
    width: 50%;
    object-fit: cover;
    /* border: solid; */

}

#home_image {
    width: 50%;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex: auto;
    border: 2px;
    /* border-style: double; */
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a {
    color: #082882;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    /*border-style: dashed;*/
}


.mybody {
    background-color: #1c284c;
    display: flex;
    height: 100%;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #1c284c;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}


.login-btn {
    width: 10%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #3621ac, #3ebbec);
    border: 0;
    outline: none;
    border-radius: 30px;
}


.text-box {

    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
    /* border:solid; */
    width: 40%;
    color: lightskyblue;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@400;600;900&family=Ubuntu+Mono:wght@700&display=swap');

.container {
    max-width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.form-pop {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.close {
    cursor: pointer;
    background: transparent;
    border: 0;
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 28px;
    transform: rotate(45deg);
    color: black;
    cursor: pointer;

}

.form-box {
    width: 380px;
    height: 480px;
    position: absolute;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 4px;
    background-color: white;
    opacity: 1;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #3621ac, #3ebbec);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group {
    top: 180ppx;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}

.submit-btn {
    position: relative;
    margin: 5px;
    width: 85%;
    padding: 10px 30px;
    top: 50px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #3621ac, #3ebbec);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

#check-box-text {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.error {
    color: red;
    font-weight: bold;
}

#contact-box {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact-box-right {
    /* background-color: white; */
    width: 500px;
    height: 500px;
    margin: 50px;

}

#contact-box-left {
    /* background-color: grey; */
    width: 500px;
    height: 500px;
    margin: 50px;

}

#comment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#comment-form input {
    width: 400px;
    height: 25px;
    margin-bottom: 25px;
}

#comment-form textarea {
    width: 400px;
    height: 300px;
}

#map {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;

}

#map-frame {
    width: 400px;
    height: 400px;
    border: 0;

}
#section-body-content{
    margin:0;
    text-align: center;
    font-weight:bolder;
}
#section-body-content span{
    margin:15px;
    font-size: 90px;
    font-weight:bolder;
}
#section-body-content button{
    color:white;
    font-weight:bolder;
    font-size: 30px;
    border-radius: 30px;
    border: 0;
    outline: none;
    width: 60%;
    padding: 10px 30px;
    margin:50px auto;
    cursor: pointer;
    display: block;
    background-image: linear-gradient(to right, #082882,#2d458b);
    z-index:1;
}
#section-body-content button::before{
    background-image: linear-gradient(to left, #082882,#2d458b);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;

}
#section-body-content button:hover::before{
    opacity: 1;
}

.form-generate-review{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group-rev {
    display: flex;
    width: 400px;
    height:100px;
    flex-direction: column;

    
  }
  .input-group-rev input{
      width:200px;
  }
  #create-content-text{
      position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 700px;
    left: 0;
    right: 0;
    margin-top: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
  }

.form-analyze-review{
    position: absolute;
    text-align: center;
    margin-left: 25%;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50%;
    height:100%;
    justify-content: center;
    align-items: center;
}
#create-content-text-tut{
    font-size: 60px;
    text-align: center;
    margin-left: 25%;
    margin-right: auto;
    bottom: 400px;
    left: 0;
    right: 0;
    width: 50%;
    height:auto;
    position: absolute;
}
#graph{
    position: absolute;
    font-size: 60px;
    text-align: center;
    margin-left: 25%;
    margin-right: auto;
    bottom: 320px;
    left: 240px;
    right: 0;
    position: absolute;
    
}
